apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: letsencrypt-prod
spec:
  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet
  acme:
    email: {{ acme_email }}
    privateKeySecretRef:
      name: prod-cert-storage
    server: https://acme-v02.api.letsencrypt.org/directory
    solvers:
    - http01:
        ingress:
          class: nginx